ServerName = WARNO Jungle Law 2v2
NbMaxPlayer = 4
NbMinPlayer = 2
MaxTeamSize = 2
GameType = 0
CombatRule = 2
Map = RDPort_JungleLaw_2v2_CONQ
ModList = 3811913066/0
ModTagList = Maps-Scenarios
MapRotationType = 0
InitMoney = 750
TimeLimit = 1200
ScoreLimit = 2000
WarmupCountdown = 60
LoadingTimeMax = 120
DeploiementTimeMax = 120
DebriefingTimeMax = 60
DeltaMaxTeamSize = 0
IncomeRate = 3
Upkeep = 0
AllowObservers = 1
ObserverDelay = 120
